.h4-afterCb {
    margin: 0 0 0 10px ;
    font-size: 18px;
}

.list-group-item-info {
    cursor: pointer;
}

.list-elem-text {
    font-weight: 500!important;
}

.list-group-item label {
    margin: 0;
    cursor: pointer;
}

.list-group-item input[type="checkbox"] {
    cursor: pointer;
}

/*.list-group-item .row-list {*/
    /*cursor: move;*/
/*}*/

.wrap-title h4 {
    margin: 0 34px 0 0;
    padding: 10px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: left;
    white-space: nowrap;
    vertical-align: baseline;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrap-title .btn-group {
    text-align: right;
}

.wrap-title {
    border-radius: .25em .25em .25em .25em;
    position: relative;
}

.init .wrap-title {
    background-color: #337ab7;
}

.result .wrap-title {
    background-color: #5cb85c;
}

.wrap-title .btn-group {
    position: absolute;
    top: 0;
    right: 0;
}

.wrap-title .btn-group .btn {
    padding: 9px 12px;
    border-left-style: solid;
    border-width: 0 0 0 1px;
    border-radius: 0 4px 4px 0;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}
