<div ng-class="{'row':true}">
    <div ng-class="{'col-md-3 no-margin':true, 'init': true}">
        <!--<div>-->
                <!--<span  class="nullable">-->
                    <!--<select ng-model="showMSelect" ng-options="color.name for color in colors">-->
                      <!--<option value="">Выбрать несколько</option>-->
                    <!--</select>-->
                <!--</span>-->
            <!--<span ng-class="{'h4-afterCb':true}">Нужно купить</span>-->
        <!--</div>-->
        <div ng-class="{'wrap-title':true}">
            <h4>
                Нужно купить
                <div class="btn-group" ng-class='{open: open}'>
                    <button ng-class="{'btn btn-primary dropdown-toggle': true}" data-toggle="dropdown" ng-click='open=!open'>
                        <span ng-class="{'caret':true}"></span>
                    </button>
                    <ul ng-class="{'dropdown-menu':true}">
                        <li><a href="#">Отметить несколько</a></li>
                        <li><a href="#">Отметить все</a></li>
                        <li><a href="#">Снять со всех</a></li>
                    </ul>
                </div>
            </h4>
        </div>
        <ul ng-class="{'list-group':true}">
            <li ng-repeat="item in initItems" ng-class="{'list-group-item-info': $index === initIdx, 'list-group-item':true}">
                <div ng-mouseenter="onMouseenter($index, 'init')" ng-mouseleave="onMouseleave()" ng-class="{'row-list':true}" ng-click="checkedItem('init', $index)">
                    <label ng-click="checkedItem('init', $index)">
                        <input type="checkbox">
                        <span ng-class="{'list-elem-text': true}">{{item}}</span>
                    </label>
                </div>
            </li>
        </ul>
    </div>
    <div ng-class="{'col-md-3 no-margin':true, 'result': true}">
        <div ng-class="{'wrap-title':true}">
            <h4>
                Куплено
                <div class="btn-group" ng-class='{open: open2}'>
                    <button ng-class="{'btn btn-success dropdown-toggle': true}" data-toggle="dropdown" ng-click='open2=!open2'>
                        <span ng-class="{'caret':true}"></span>
                    </button>
                    <ul ng-class="{'dropdown-menu':true}">
                        <li><a href="#">Отметить несколько</a></li>
                        <li><a href="#">Отметить все</a></li>
                        <li><a href="#">Снять со всех</a></li>
                    </ul>
                </div>
            </h4>
        </div>
        <ul ng-class="{'list-group':true}">
            <li ng-repeat="item in resultItems" ng-class="{'list-group-item':true}">
                <div ng-mouseenter="onMouseenter($index, 'result')" ng-mouseleave="onMouseleave()" ng-class="{'row-list':true, 'bg-info': $index === resultIdx}">
                    <label>
                        <input type="checkbox">
                        <span ng-class="{'list-elem-text': true}">{{item}}</span>
                    </label>
                </div>
            </li>
        </ul>
    </div>
</div>
<div ng-class="{'row':true}">
    <div ng-class="{'col-md-3':true}">
        <input type="submit" ng-class="{'btn btn-danger': true}" value="Выполнить" ng-click="sendCheckedItems('init','result');sendCheckedItems('result','init')">
    </div>
</div>
