<div ng-class="{'row':true}">
    <div ng-class="{'col-md-3':true, 'needBuy': true}">
        <h4>Нужно купить</h4>
        <div ng-repeat="item in needBuyItems">
            <div ng-mouseenter="onMouseenter($index, 'needBuy')" ng-mouseleave="onMouseleave()" ng-class="{'row-list':true, 'bg-info': $index === needBuy, 'checkbox':true}">
                <label>
                    <input type="checkbox">
                    <span ng-class="{'list-elem-text': true}">{{item}}</span>
                </label>
            </div>
        </div>
        <input type="submit" value="Выполнить" ng-click="sendCheckedItems('needBuy','purchased')">
    </div>
    <div ng-class="{'col-md-3':true, 'purchased': true}">
        <h4>Куплено</h4>
        <div ng-repeat="item in purchasedItems">
            <div ng-mouseenter="onMouseenter($index, 'purchased')" ng-mouseleave="onMouseleave()" ng-class="{'row-list':true, 'bg-info': $index === purchased, 'checkbox':true}">
                <label>
                    <input type="checkbox">
                    <span ng-class="{'list-elem-text': true}">{{item}}</span>
                </label>
            </div>
        </div>
    </div>
</div>